#statesmap{
  display: block;
  height: 375px;
  width: 100%;
  position: relative;
  z-index: 0;
  background: url(../images/statesmap.gif) no-repeat;
}

a#al{
  display: block;
  width: 36px;
  height: 60px;
  position: absolute;
  overflow: hidden;
  top: 215px;
  left: 377px;
  z-index: 130;
}

a#al:hover{
  background: transparent url(../images/stateshover/al.gif) no-repeat;
  overflow: visible;
}

a#ak{
  display: block;
  width: 161px;
  height: 82px;
  position: absolute;
  overflow: hidden;
  top: 274px;
  left: 67px;
  z-index: 100;
}

a#ak:hover{
  background: transparent url(../images/stateshover/ak.gif) no-repeat;
  overflow: visible;
}

a#az{
  display: block;
  width: 67px;
  height: 78px;
  position: absolute;
  overflow: hidden;
  top: 178px;
  left: 97px;
  z-index: 105;
}

a#az:hover{
  background: transparent url(../images/stateshover/az.gif) no-repeat;
  overflow: visible;
}

a#ar{
  display: block;
  width: 48px;
  height: 44px;
  position: absolute;
  overflow: hidden;
  top: 200px;
  left: 311px;
  z-index: 100;
}

a#ar:hover{
  background: transparent url(../images/stateshover/ar.gif) no-repeat;
  overflow: visible;
}

a#ca{
  display: block;
  width: 78px;
  height: 137px;
  position: absolute;
  overflow: hidden;
  top: 92px;
  left: 28px;
  z-index: 100;
}

a#ca:hover{
  background: transparent url(../images/stateshover/ca.gif) no-repeat;
  overflow: visible;
}

a#co{
  display: block;
  width: 71px;
  height: 57px;
  position: absolute;
  overflow: hidden;
  top: 135px;
  left: 166px;
  z-index: 210;
}

a#co:hover{
  background: transparent url(../images/stateshover/co.gif) no-repeat;
  overflow: visible;
}

a#ct{
  display: block;
  width: 26px;
  height: 21px;
  position: absolute;
  overflow: hidden;
  top: 141px;
  left: 535px;
  z-index: 100;
}

a#ct:hover{
  background: transparent url(../images/stateshover/ct.gif) no-repeat;
  overflow: visible;
}

a#dt{
  display: block;
  width: 82px;
  height: 20px;
  position: absolute;
  overflow: hidden;
  top: 13px;
  left: 250px;
  z-index: 100;
}

a#dt:hover{
  background: transparent url(../images/stateshover/dkt.gif) no-repeat;
  overflow: visible;
}

a#de{
  display: block;
  width: 26px;
  height: 21px;
  position: absolute;
  overflow: hidden;
  top: 206px;
  left: 535px;
  z-index: 100;
}

a#de:hover{
  background: transparent url(../images/stateshover/de.gif) no-repeat;
  overflow: visible;
}

a#dc{
  display: block;
  width: 26px;
  height: 20px;
  position: absolute;
  overflow: hidden;
  top: 228px;
  left: 535px;
  z-index: 100;
}

a#dc:hover{
  background: transparent url(../images/stateshover/dc.gif) no-repeat;
  overflow: visible;
}

a#fl{
  display: block;
  width: 90px;
  height: 67px;
  position: absolute;
  overflow: hidden;
  top: 263px;
  left: 388px;
  z-index: 140;
}

a#fl:hover{
  background: transparent url(../images/stateshover/fl.gif) no-repeat;
  overflow: visible;
}

a#ga{
  display: block;
  width: 52px;
  height: 55px;
  position: absolute;
  overflow: hidden;
  top: 212px;
  left: 403px;
  z-index: 125;
}

a#ga:hover{
  background: transparent url(../images/stateshover/ga.gif) no-repeat;
  overflow: visible;
}

a#hi{
  display: block;
  width: 72px;
  height: 36px;
  position: absolute;
  overflow: hidden;
  top: 249px;
  left: 28px;
  z-index: 110;
}

a#hi:hover{
  background: transparent url(../images/stateshover/hi.gif) no-repeat;
  overflow: visible;
}

a#id{
  display: block;
  width: 58px;
  height: 95px;
  position: absolute;
  overflow: hidden;
  top: 23px;
  left: 101px;
  z-index: 305;
}

a#id:hover{
  background: transparent url(../images/stateshover/id.gif) no-repeat;
  overflow: visible;
}

a#il{
  display: block;
  width: 38px;
  height: 69px;
  position: absolute;
  overflow: hidden;
  top: 121px;
  left: 340px;
  z-index: 305;
}

a#il:hover{
  background: transparent url(../images/stateshover/il.gif) no-repeat;
  overflow: visible;
}

a#in{
  display: block;
  width: 28px;
  height: 51px;
  position: absolute;
  overflow: hidden;
  top: 128px;
  left: 376px;
  z-index: 315;
}

a#in:hover{
  background: transparent url(../images/stateshover/in.gif) no-repeat;
  overflow: visible;
}

a#ia{
  display: block;
  width: 59px;
  height: 37px;
  position: absolute;
  overflow: hidden;
  top: 111px;
  left: 291px;
  z-index: 100;
}

a#ia:hover{
  background: transparent url(../images/stateshover/ia.gif) no-repeat;
  overflow: visible;
}

a#ks{
  display: block;
  width: 73px;
  height: 39px;
  position: absolute;
  overflow: hidden;
  top: 154px;
  left: 236px;
  z-index: 215;
}

a#ks:hover{
  background: transparent url(../images/stateshover/ks.gif) no-repeat;
  overflow: visible;
}

a#ky{
  display: block;
  width: 69px;
  height: 36px;
  position: absolute;
  overflow: hidden;
  top: 161px;
  left: 365px;
  z-index: 310;
}

a#ky:hover{
  background: transparent url(../images/stateshover/ky.gif) no-repeat;
  overflow: visible;
}

a#la{
  display: block;
  width: 48px;
  height: 47px;
  position: absolute;
  overflow: hidden;
  top: 245px;
  left: 317px;
  z-index: 115;
}

a#la:hover{
  background: transparent url(../images/stateshover/la.gif) no-repeat;
  overflow: visible;
}

a#me{
  display: block;
  width: 34px;
  height: 56px;
  position: absolute;
  overflow: hidden;
  top: 28px;
  left: 518px;
  z-index: 425;
}

a#me:hover{
  background: transparent url(../images/stateshover/me.gif) no-repeat;
  overflow: visible;
}

a#md{
  display: block;
  width: 26px;
  height: 20px;
  position: absolute;
  overflow: hidden;
  top: 185px;
  left: 535px;
  z-index: 100;
}

a#md:hover{
  background: transparent url(../images/stateshover/md.gif) no-repeat;
  overflow: visible;
}

a#ma{
  display: block;
  width: 26px;
  height: 15px;
  position: absolute;
  overflow: hidden;
  top: 89px;
  left: 506px;
  z-index: 415;
}

a#ma:hover{
  background: transparent url(../images/stateshover/ma.gif) no-repeat;
  overflow: visible;
}

a#mi{
  display: block;
  width: 73px;
  height: 69px;
  position: absolute;
  overflow: hidden;
  top: 59px;
  left: 347px;
  z-index: 320;
}

a#mi:hover{
  background: transparent url(../images/stateshover/mi.gif) no-repeat;
  overflow: visible;
}

a#mn{
  display: block;
  width: 61px;
  height: 73px;
  position: absolute;
  overflow: hidden;
  top: 37px;
  left: 286px;
  z-index: 100;
}

a#mn:hover{
  background: transparent url(../images/stateshover/mn.gif) no-repeat;
  overflow: visible;
}

a#ms{
  display: block;
  width: 34px;
  height: 61px;
  position: absolute;
  overflow: hidden;
  top: 217px;
  left: 344px;
  z-index: 120;
}

a#ms:hover{
  background: transparent url(../images/stateshover/ms.gif) no-repeat;
  overflow: visible;
}

a#mo{
  display: block;
  width: 64px;
  height: 57px;
  position: absolute;
  overflow: hidden;
  top: 148px;
  left: 300px;
  z-index: 300;
}

a#mo:hover{
  background: transparent url(../images/stateshover/mo.gif) no-repeat;
  overflow: visible;
}

a#mt{
  display: block;
  width: 102px;
  height: 64px;
  position: absolute;
  overflow: hidden;
  top: 24px;
  left: 125px;
  z-index: 405;
}

a#mt:hover{
  background: transparent url(../images/stateshover/mt.gif) no-repeat;
  overflow: visible;
}

a#nd{
  display: block;
  width: 65px;
  height: 40px;
  position: absolute;
  overflow: hidden;
  top: 39px;
  left: 225px;
  z-index: 415;
}

a#nd:hover{
  background: transparent url(../images/stateshover/nd.gif) no-repeat;
  overflow: visible;
}

a#ne{
  display: block;
  width: 81px;
  height: 40px;
  position: absolute;
  overflow: hidden;
  top: 115px;
  left: 220px;
  z-index: 315;
}

a#ne:hover{
  background: transparent url(../images/stateshover/ne.gif) no-repeat;
  overflow: visible;
}

a#nv{
  display: block;
  width: 62px;
  height: 96px;
  position: absolute;
  overflow: hidden;
  top: 103px;
  left: 64px;
  z-index: 200;
}

a#nv:hover{
  background: transparent url(../images/stateshover/nv.gif) no-repeat;
  overflow: visible;
}

a#nh{
  display: block;
  width: 12px;
  height: 33px;
  position: absolute;
  overflow: hidden;
  top: 60px;
  left: 512px;
  z-index: 420;
}

a#nh:hover{
  background: transparent url(../images/stateshover/nh.gif) no-repeat;
  overflow: visible;
}

a#nj{
  display: block;
  width: 26px;
  height: 20px;
  position: absolute;
  overflow: hidden;
  top: 163px;
  left: 535px;
  z-index: 100;
}

a#nj:hover{
  background: transparent url(../images/stateshover/nj.gif) no-repeat;
  overflow: visible;
}

a#nm{
  display: block;
  width: 68px;
  height: 71px;
  position: absolute;
  overflow: hidden;
  top: 186px;
  left: 156px;
  z-index: 115;
}

a#nm:hover{
  background: transparent url(../images/stateshover/nm.gif) no-repeat;
  overflow: visible;
}

a#ny{
  display: block;
  width: 58px;
  height: 50px;
  position: absolute;
  overflow: hidden;
  top: 68px;
  left: 448px;
  z-index: 400;
}

a#ny:hover{
  background: transparent url(../images/stateshover/ny.gif) no-repeat;
  overflow: visible;
}

a#nc{
  display: block;
  width: 82px;
  height: 36px;
  position: absolute;
  overflow: hidden;
  top: 180px;
  left: 417px;
  z-index: 205;
}

a#nc:hover{
  background: transparent url(../images/stateshover/nc.gif) no-repeat;
  overflow: visible;
}

a#oh{
  display: block;
  width: 41px;
  height: 46px;
  position: absolute;
  overflow: hidden;
  top: 120px;
  left: 402px;
  z-index: 320;
}

a#oh:hover{
  background: transparent url(../images/stateshover/oh.gif) no-repeat;
  overflow: visible;
}

a#ok{
  display: block;
  width: 85px;
  height: 43px;
  position: absolute;
  overflow: hidden;
  top: 193px;
  left: 226px;
  z-index: 220;
}

a#ok:hover{
  background: transparent url(../images/stateshover/ok.gif) no-repeat;
  overflow: visible;
}

a#or{
  display: block;
  width: 80px;
  height: 65px;
  position: absolute;
  overflow: hidden;
  top: 42px;
  left: 34px;
  z-index: 300;
}

a#or:hover{
  background: transparent url(../images/stateshover/or.gif) no-repeat;
  overflow: visible;
}

a#pa{
  display: block;
  width: 57px;
  height: 36px;
  position: absolute;
  overflow: hidden;
  top: 110px;
  left: 441px;
  z-index: 220;
}

a#pa:hover{
  background: transparent url(../images/stateshover/pa.gif) no-repeat;
  overflow: visible;
}

a#ri{
  display: block;
  width: 27px;
  height: 20px;
  position: absolute;
  overflow: hidden;
  top: 120px;
  left: 535px;
  z-index: 100;
}

a#ri:hover{
  background: transparent url(../images/stateshover/ri.gif) no-repeat;
  overflow: visible;
}

a#sd{
  display: block;
  width: 69px;
  height: 42px;
  position: absolute;
  overflow: hidden;
  top: 78px;
  left: 222px;
  z-index: 410;
}

a#sd:hover{
  background: transparent url(../images/stateshover/sd.gif) no-repeat;
  overflow: visible;
}

a#sc{
  display: block;
  width: 48px;
  height: 36px;
  position: absolute;
  overflow: hidden;
  top: 207px;
  left: 428px;
  z-index: 135;
}

a#sc:hover{
  background: transparent url(../images/stateshover/sc.gif) no-repeat;
  overflow: visible;
}

a#tn{
  display: block;
  width: 82px;
  height: 28px;
  position: absolute;
  overflow: hidden;
  top: 189px;
  left: 357px;
  z-index: 200;
}

a#tn:hover{
  background: transparent url(../images/stateshover/tn.gif) no-repeat;
  overflow: visible;
}

a#tx{
  display: block;
  width: 138px;
  height: 135px;
  position: absolute;
  overflow: hidden;
  top: 199px;
  left: 183px;
  z-index: 110;
}

a#tx:hover{
  background: transparent url(../images/stateshover/tx.gif) no-repeat;
  overflow: visible;
}

a#ut{
  display: block;
  width: 55px;
  height: 69px;
  position: absolute;
  overflow: hidden;
  top: 115px;
  left: 116px;
  z-index: 205;
}

a#ut:hover{
  background: transparent url(../images/stateshover/ut.gif) no-repeat;
  overflow: visible;
}

a#vt{
  display: block;
  width: 15px;
  height: 31px;
  position: absolute;
  overflow: hidden;
  top: 64px;
  left: 499px;
  z-index: 410;
}

a#vt:hover{
  background: transparent url(../images/stateshover/vt.gif) no-repeat;
  overflow: visible;
}

a#va{
  display: block;
  width: 71px;
  height: 42px;
  position: absolute;
  overflow: hidden;
  top: 148px;
  left: 425px;
  z-index: 210;
}

a#va:hover{
  background: transparent url(../images/stateshover/va.gif) no-repeat;
  overflow: visible;
}

a#wa{
  display: block;
  width: 65px;
  height: 48px;
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 53px;
  z-index: 400;
}

a#wa:hover{
  background: transparent url(../images/stateshover/wa.gif) no-repeat;
  overflow: visible;
}

a#wv{
  display: block;
  width: 37px;
  height: 38px;
  position: absolute;
  overflow: hidden;
  top: 142px;
  left: 429px;
  z-index: 215;
}

a#wv:hover{
  background: transparent url(../images/stateshover/wv.gif) no-repeat;
  overflow: visible;
}

a#wi{
  display: block;
  width: 48px;
  height: 54px;
  position: absolute;
  overflow: hidden;
  top: 67px;
  left: 325px;
  z-index: 420;
}

a#wi:hover{
  background: transparent url(../images/stateshover/wi.gif) no-repeat;
  overflow: visible;
}

a#wy{
  display: block;
  width: 68px;
  height: 57px;
  position: absolute;
  overflow: hidden;
  top: 82px;
  left: 154px;
  z-index: 310;
}

a#wy:hover{
  background: transparent url(../images/stateshover/wy.gif) no-repeat;
  overflow: visible;
}
