#page {
    width: 100%;
    margin: 0 0 0 0;
}

.map-controls, .map-canvas {
    display: inline-block;
    margin: 0 1%;
    padding: 0;
    vertical-align: top;
}

.map-controls {
    width: 31%;
}

.map-canvas {
    width: 64%;
}

.leaflet-container {
    min-height: 480px;
    min-width: 640px;
}

.hidden {
    visibility: hidden;
}

#statebox {
    clear: both;
    float: right;
    width: 220px;
}
